/*-------- GLOBAL STYLES ---------*/

body{
    margin:0;
    padding:0;
    font-family: "Poppins", serif;
    box-sizing: border-box;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr; /* Three equal-height rows */
    grid-template-columns: 1fr 1fr; /* Two equal-width columns */
    gap: 2%; /* 2% gap between grid items */
}
.container{
    width: 80%;
    margin: 0 auto;
}
/*------------------logo------------*/
.logo{
    font-family: "Dancing Script", serif;
}
/*------------Navbar-----------------*/

